extends ../app.pug

block content
    h1 List of Clients

    form(action="/clients/create", method="get")
        button.btn(type="submit" value="submit") New Client 

    table
        thead
            tr 
                th ID
                th Name
                th Email
                th Actions
        tbody
            for client, index in clients
                tr
                    th #{client.id}
                    td #{client.name} 
                    td #{client.email}
                    td
                        a(href=`clients/${client.id}`) View
                        a(href=`clients/${client.id}/edit`) Edit
                        form.frm(action=`clients/${client.id}?_method=DELETE`, method="post")
                            button.btn-hidden(type="submit", value="submit") Destroy